<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 1、mybatis使用properties来引入外部properties配置文件的内容 
    resource 引入类路径下资源 
    url 引入网络路径或磁盘路径下资源 -->
    <!--<properties resource="db.properties"></properties>-->
    <settings>
        <!--设置给null字段赋值null-->
        <setting name="jdbcTypeForNull" value="NULL" />
        <!--解决，查询返回结果含null没有对应字段值问题-->
        <setting name="callSettersOnNulls" value="true"/>
        <!--设置控制台输出-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--<environments default="development">-->
    <!--<environment id="development">-->
    <!--<transactionManager type="JDBC" />-->
    <!--&lt;!&ndash; 配置数据库连接信息 &ndash;&gt;-->
    <!--<dataSource type="POOLED">-->
    <!--<property name="driver" value="${jdbc.driver}" />-->
    <!--<property name="url" value="${jdbc.url}" />-->
    <!--<property name="username" value="${jdbc.name}" />-->
    <!--<property name="password" value="${jdbc.password}" />-->
    <!--</dataSource>-->
    <!--</environment>-->
    <!--</environments>-->
   <!-- <mappers>
        <mapper resource="com/pjf/mybatis/mapper/hotelMapper.xml"></mapper>
    </mappers>-->
</configuration>